
@{
    ViewBag.Title = "booknowsuccess";
}
<div class="loader-wrapper img-gif">
    <img src="~/Image/loading_color.gif" alt=""><br />
</div>
<div style="width: 100%; height: 108px; background-color: #00a6ff;"></div>
<div style="text-align: center; padding: 70px 0px 80px 0px; background-color: aliceblue">   
    <img src="~/Image/icon/dathangthanhcong.png" width="400" height="300" />
    <h3 style="color: forestgreen; font-weight: 900">ĐẶT VÉ THÀNH CÔNG <img src="~/Image/icon/tichxanh.png" style="width: 50px; margin-top: -30px" /></h3>
    <h4 style="font-family: emoji;">Cảm ơn quý khách đã tin tưởng và đặt vé tại GOLDSKY</h4>
    <h4 style="font-family: emoji;">Công ty GOLDSKY luôn cam kết đảm bảo cho quý khách 1 chuyến bay an toàn và thoải mái nhất !</h4>
    <br />
    <h5><a href="/" style="color: blue">Go to home</a></h5>
</div>


