@{
    ViewBag.Title = "About";
}
<div style="width: 100%; height: 108px; background-color: #00a6ff;"></div>
<br />
    <section style="padding-top: 0px">
        <div class="container p-1 p-sm-3">
            <div class="row">
                <div class="col-12">
                    <h2>Về chúng tôi</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>

    </section>
    <section style="padding-top: 0px">
        <div class="container p-1 p-sm-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Tổng quan về công ty GoldSky</h2>
                    <hr />

                </div>
                <div class="col-md-3" style="text-align: center">
                    <img class="img-fluid" src="~/Image/airline_logo .png" style="width: 230px; height: 200px">

                </div>
                <div class="col-9 ">
                    <p>
                        ABAY là công ty hoạt động trong lĩnh vực thương mại điện tử –
                        chuyên cung cấp dịch vụ vé máy bay trực tuyến của các hãng hàng
                        không nội địa và quốc tế. ABAY có hệ thống Đặt Vé Máy Bay Trực
                        Tuyến tại website www.GOLDSKY.vn với các chức năng: Tìm kiếm
                        hành trình bay, So sánh giá vé của các hãng hàng không, Đặt vé
                        trên website và Thanh toán trực tuyến.
                        <br>
                        Là doanh nghiệp hoạt động theo mô hình Đại lý Du lịch Trực tuyến
                        (Online Travel Agency – OTA) đầu tiên tại Việt Nam, nhóm phát
                        triển đằng sau ABAY.vn đã có nhiều năm kinh nghiệm trong việc
                        thiết kế và thực hiện các ứng dụng web cao cấp cho nhiều ngành
                        khác nhau (viễn thông, ngân hàng, bán lẻ) và biết rất rõ làm thế
                        nào để thực hiện các giao dịch dựa trên các ứng dụng được nhanh
                        chóng, đáng tin cậy, và dễ sử dụng.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="pt-3 pb-4">
        <div class="container">
            <div class="row mt-4">
                <div class="col text-center">
                    <h3>
                        Giải thưởng đã đạt được
                    </h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-fluid qualities-img p-4" src="~/Image/about/gioi-thieu-abay-5.jpg">
                    <h5>
                        Năm 2013
                    </h5>
                    <p>
                        <i>Sản phẩm uy tín do người tiêu dùng bình chọn</i>
                        <br>
                        <i>Top 5 Đại lý tăng trưởng cao nhất miền Bắc của Abacus</i>
                    </p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid qualities-img p-4" src="~/Image/about/gioi-thieu-abay-7.png">
                    <h5>
                        Năm 2014
                    </h5>
                    <p>
                        <i>Top 50 thương hiệu uy tín nổi tiếng được tin dùng năm 2014</i>
                        <br>
                        <i>Sản phẩm tin cậy, Dịch vụ hoàn hảo, Nhãn hiệu ưa dùng năm 2014</i>
                    </p>

                </div>
                <div class="col-md-4 text-center">

                    <img class="img-fluid qualities-img p-4" src="~/Image/about/gioi-thieu-abay-9.jpg" style="height: 298px">
                    <h5>
                        Năm 2015
                    </h5>
                    <p>
                        <i>Đại lý có doanh số cao nhất miền Bắc của VietJet Air năm 2015</i>
                        <br>
                        <i>Top 3 đại lý có lượng vé quốc tế bán ra lớn nhất miền Bắc năm 2015 của Sabre Vietnam</i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- START :  Home page 6th section - Our services -->
    <section class="pt-3 pb-4">
        <div class="container">
            <div class="row mt-4">
                <div class="col text-center">
                    <h3>
                        Ban Lãnh Đạo
                    </h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 text-center" style="padding-left: 150px">
                    <img class="img-fluid qualities-img p-5" src="~/Image/about/KaiTo.png" style="width: 300px">
                    <h5>
                        Giám đốc kỹ thuật
                    </h5>
                    <p>
                        <i>- Dương Công Duy</i>
                    </p>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid qualities-img p-5" src="~/Image/about/DatDz.png" style="width: 300px">
                    <h5>
                        Giám đốc nghiệp vụ
                    </h5>
                    <p>
                        <i>- Nguyễn Thành Đạt</i>
                    </p>

                </div>
                <div class="col-md-4 text-center" style="padding-right: 150px">

                    <img class="img-fluid qualities-img p-5" src="~/Image/about/KuTruong.png" style="width: 300px">
                    <h5>
                        Giám đốc kinh doanh
                    </h5>
                    <p>
                        <i>- Nguyễn Thanh Trường</i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-3 pb-4 clients-section">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3>
                        Đối tác tin cậy của chúng tôi
                    </h3>
                    <h6>
                        Trong tương lai, ngoài mảng vé máy bay, GOLDSKY có kế hoạch mở rộng
                        ra lĩnh vực đặt tour du lịch, du thuyền, khách sạn….Vì vậy GOLDSKY
                        luôn mong muốn có cơ hội hợp tác với các doanh nghiệp quan tâm
                        và có nhu cầu hợp tác cùng GOLDSKY trong các lĩnh vực trên.
                    </h6>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/bamboo_airway.png" alt="Card image cap" width="110" height="110">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/Vietjetair.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/vna.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/Abacus.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/colormedia.png" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/Enviet.gif" alt="Card image cap">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/Hongngocha.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/HuongHaiLogo.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/kosshop.jpg" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/logoSenpay.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/logoTransviet.gif" alt="Card image cap">
                </div>
                <div class="col-md-2 col-6" style="text-align: center">
                    <img class="img-fluid feature-img p-2" src="~/Image/about/sohapay.gif" alt="Card image cap">
                </div>
            </div>
        </div>
    </section>




