
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rica">
    <meta name="keywords" content="rica">
    <meta name="author" content="rica">
    <link rel="icon" href="~/Image/favicon.png" type="image/x-icon" />
    <title>GOLDSKY</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->

    <style>
        body {
            overflow-y: hidden;
        }
    </style>
</head>
<body>
    <div class="container-login100" style="z-index: 10">
        <img src="~/Image/flights/vietject.jpg" width="100%" height="800" style="opacity: 0.9; filter: brightness(70%); position: absolute;" />
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                <img src="~/Image/logo_hethongbig.png" style="margin-left: 10px" />
                <span class="login100-form-title p-b-34 p-t-27">
                    Log in
                </span>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="TenDangNhap" required placeholder="Username">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="Password" required placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>
                <!--
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>
                -->
                <br />
                <div class="container-login100-form-btn">
                    <input class="login100-form-btn" type="submit" placeholder="Login" value="Login" />
                </div>

                <div class="text-center p-t-90">
                    <a class="txt1" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
                <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/vendor/animsition/js/animsition.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/vendor/bootstrap/js/popper.js"></script>
                <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/vendor/select2/select2.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/vendor/daterangepicker/moment.min.js"></script>
                <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
                <!--===============================================================================================-->
                <script src="~/vendor/countdowntime/countdowntime.js"></script>
                <!--===============================================================================================-->
                <script src="~/Scripts/js/main.js"></script>

</body>
</html>



