.top-nav {
    font-size: 25px;
    cursor: pointer;
}

.btnopen123 {
    font-size: 15px;
    cursor: pointer;
}

.sidenav123 {
    width: 0px;
    height: 100%;
    background: rgba(0, 131, 255, 0.75);
    padding-top: 80px;
    color: white;
    right: 0;
    border: 1px solid;
    overflow-x: hidden;
    position: fixed;
    z-index: 999;
    transition: 0.6s;
}

.sidenav-item {
    margin-top: 35px;
    font-size: 15px;
}

.sidenav-item a {
    text-decoration: none;
    padding: 10px 12px;
    margin-left: 20px;
    display: block;
    color: #fafafa;
}

span.btnclose123 {
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

.main-content123 {
    margin-left: 0px;
    transition: 0.6s;
    padding: 20px;
}

.show123 {
    width: 350px;
    transition: 0.6s cubic-bezier(0, 1.16, 0, 1.23);
}

.push123 {
    margin-left: 250px;
    transition: 0.6s cubic-bezier(0, 1.16, 0, 1.23);
}
