@using HeThongQuanLyDatVeMayBay.Models 
@{
    ViewBag.Title = "Home Page";
    DBEntities_QLHeThongDatVeMayBay db = new DBEntities_QLHeThongDatVeMayBay();
    var listnoidi = db.CHUYENBAYs.Select(p => p.NoiDi).Distinct().ToList();
    var listnoiden = db.CHUYENBAYs.Select(p => p.NoiDen).Distinct().ToList();
    var listloaive = db.LOAIVEs.ToList();
}
<!-- pre-loader start -->
<div class="loader-wrapper img-gif">
    <img src="~/Image/loader.gif" alt="">
</div>
<!--pre-loader end -->
<!-- home section start -->
<section class="cab-section flight-section p-0">
    <div class="cloud">
        <img src="~/Image/flights/cloud.png" alt="" class="bg-img"> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cab-content">
                    <div>
                        <div class="top-cls">
                            #OKA1-MB
                        </div>
                        <h2>great journey begins</h2>
                        <h3>with a small step</h3>
                        <form action="booknow" method="POST">
                            <div class="form-group">
                                <img src="~/Image/icon/from.png" class="img-fluid blur-up lazyload" alt="">
                                <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="chuyenbaynoidi" style="height: 54px;">
                                    <option selected disabled>From...</option>
                                    @foreach (var noidi in listnoidi) 
                                    {
                                        <option>@noidi</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <img src="~/Image/icon/location.png" class="img-fluid blur-up lazyload" alt="">
                                <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="chuyenbaynoiden" style="height: 54px">
                                    <option selected disabled>To...</option>
                                    @foreach (var noiden in listnoiden)
                                     {
                                        <option>@noiden</option>
                                     }
                                </select>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col">
                                    <input type="date" id="datepicker" class="form-control" style="font-size: 18px; height: 53px; border-radius: 3px"/>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="chuyenbaygiobay" style="height: 54px; font-size: 18px">
                                        <option selected disabled>Hour...</option>
                                        <option>0:00</option>
                                        <option>0:30</option>
                                        <option>1:00</option>
                                        <option>1:30</option>
                                        <option>2:00</option>
                                        <option>2:30</option>
                                        <option>3:00</option>
                                        <option>3:30</option>
                                        <option>4:00</option>
                                        <option>4:30</option>
                                        <option>5:00</option>
                                        <option>5:30</option>
                                        <option>6:00</option>
                                        <option>6:30</option>
                                        <option>7:00</option>
                                        <option>7:30</option>
                                        <option>8:00</option>
                                        <option>8:30</option>
                                        <option>9:00</option>
                                        <option>9:30</option>
                                        <option>10:00</option>
                                        <option>10:30</option>
                                        <option>11:00</option>
                                        <option>11:30</option>
                                        <option>12:00</option>
                                        <option>12:30</option>
                                        <option>13:00</option>
                                        <option>13:30</option>
                                        <option>14:00</option>
                                        <option>14:30</option>
                                        <option>15:00</option>
                                        <option>15:30</option>
                                        <option>16:00</option>
                                        <option>16:30</option>
                                        <option>17:00</option>
                                        <option>17:30</option>
                                        <option>18:00</option>
                                        <option>18:30</option>
                                        <option>19:00</option>
                                        <option>19:30</option>
                                        <option>20:00</option>
                                        <option>20:30</option>
                                        <option>21:00</option>
                                        <option>21:30</option>
                                        <option>22:00</option>
                                        <option>22:30</option>
                                        <option>23:00</option>
                                        <option>23:30</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-lg mb-3" aria-label="Default select example" name="chuyenbayloaive" style="height: 54px; font-size: 18px">
                                        <option selected disabled>Type of ticket...</option>
                                        @foreach (var items in listloaive)
                                        {
                                            <option>@items.TenLoaiVe</option>
                                        }
                                    </select>
                                </div>
                            </div>
                                <button type="submit" class="btn btn-rounded color1">book now</button>
                        </form>
                        <form class="radio-form" style="margin-top: 12px;">
                            <input id="radio-1" type="radio" name="gender" value="in city" checked>
                            <label for="radio-1" class="radio-label">multi-city route</label>
                            <input id="radio-2" type="radio" name="gender" value="out of city">
                            <label for="radio-2" class="radio-label">non stop flights</label>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  home section end -->
<!-- destination section start -->
<section class="blog_section destination-section section-b-space ratio_55">
    <div class="container">
        <div class="title-2">
            <h2>featured... <span>destination</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/destination/1.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>france country</h5>
                            <h2>paris</h2>
                            <h6>
                                Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.
                            </h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $851*</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/destination/2.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>united kingdom</h5>
                            <h2>london</h2>
                            <h6>
                                Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.
                            </h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $369*</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/destination/3.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>switzerland</h5>
                            <h2>zurich</h2>
                            <h6>
                                Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.
                            </h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $256*</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/destination/2.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>united kingdom</h5>
                            <h2>london</h2>
                            <h6>
                                Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.
                            </h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $581*</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- destination section end -->
<!-- airlines detail section start -->
<section class="pt-0 detail-section zig-zag-effect">
    <div class="cloud section-b-space section-t-space">
        <img src="~/Image/flights/cloud.png" alt="" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="detail-box">
                        <div class="upper-part">
                            <h6>rica airlines</h6>
                            <h2>student offer</h2>
                            <h5>enjoy extra baggage allowance</h5>
                        </div>
                        <a href="#" class="btn btn-rounded btn-sm color1">read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="detail-box">
                        <div class="upper-part">
                            <h6>airlines</h6>
                            <h2>10% bonus </h2>
                            <h5>enjoy extra baggage allowance</h5>
                        </div>
                        <a href="#" class="btn btn-rounded btn-sm color1">read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="detail-box">
                        <div class="upper-part">
                            <h6>rica airlines</h6>
                            <h2>New offer</h2>
                            <h5>enjoy extra baggage allowance</h5>
                        </div>
                        <a href="#" class="btn btn-rounded btn-sm color1">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- airlines detail section end -->
<!-- flight routes section start -->
<section class="routes-section ratio_landscape section-b-space">
    <div class="container">
        <div class="title-2">
            <h2>top flight routes... <span>within usa</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="~/Image/flights/destination/4.jpg" alt=""
                             class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>-30%</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>london to moscow</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="~/Image/flights/destination/5.jpg" alt=""
                             class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>limited time</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>milan to stockholm</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="~/Image/flights/destination/6.jpg" alt=""
                             class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>-30%</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>marid to prague</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="~/Image/flights/destination/7.jpg" alt=""
                             class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>sunday</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>humburg to paris</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- flight routes section end -->
<!-- banner section start -->
<section class="p-0 banner-section full-banner zig-zag-effect">
    <div class="cloud section-b-space section-t-space">
        <img src="~/Image/flights/cloud.png" alt="" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="place-image">
                        <img src="~/Image/flights/place.png " alt=""
                             class="img-fluid blur-up lazyload wow zoomIn">
                        <div class="animation-place">
                            <div class=" plane-l">
                                <img src="~/Image/flights/banner/1.png" alt=""
                                     class="zoomIn wow img-fluid blur-up lazyload ">
                            </div>
                            <div class="cloud-l">
                                <img src="~/Image/flights/banner/2.png" alt=""
                                     class="img-fluid blur-up lazyload wow zoomIn">
                            </div>
                            <div class="cloud-r">
                                <img src="~/Image/flights/banner/3.png" alt=""
                                     class="img-fluid blur-up lazyload wow zoomIn">
                            </div>
                            <div class=" plane-r">
                                <img src="~/Image/flights/banner/4.png" alt=""
                                     class="img-fluid blur-up lazyload zoomIn wow">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="banner-content">
                        <div>
                            <h5>special nature tour offer</h5>
                            <h2>discount <span>20-30%</span></h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and type setti ng industry. Lorem
                                Ipsum has been the of industry standard dum my text ever since the 1500s,
                            </p>
                            <h2 class="price">$420</h2>
                            <div class="bottom-section">
                                <a href="#" class="btn btn-rounded color1">buy now</a>
                                <div class="info-btn">
                                    <h6>7 days &nbsp; | &nbsp; 8 nights</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- airlines ticket section start -->
<section class="price-section section-b-space ratio_square">
    <div class="container-fluid">
        <div class="title-2">
            <h2>cheap... <span>airline tickets</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#">
                            <img src="~/Image/flights/destination/8.jpg" alt=""
                                 class=" img-fluid blur-up lazyload bg-img">
                        </a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content ">
                        <div class="price-title">
                            <a href="#">
                                <h3>london</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>paris</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>rome</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>berlin</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#">
                            <img src="~/Image/flights/destination/9.jpg" alt=""
                                 class=" img-fluid blur-up lazyload bg-img">
                        </a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content ">
                        <div class="price-title">
                            <a href="#">
                                <h3>budva</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>atlanta</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>miami</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>ottawa</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#">
                            <img src="~/Image/flights/destination/10.jpg" alt=""
                                 class="img-fluid blur-up lazyload bg-img">
                        </a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content">
                        <div class="price-title">
                            <a href="#">
                                <h3>venice</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>vienna</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>madrid</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>dallas</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#">
                            <img src="~/Image/flights/destination/9.jpg" alt=""
                                 class=" img-fluid blur-up lazyload bg-img">
                        </a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content ">
                        <div class="price-title">
                            <a href="#">
                                <h3>budva</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>atlanta</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>miami</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>ottawa</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- airlines ticket section end -->
<!-- top destination section start -->
<section class="pt-0 flight-detail  zig-zag-effect">
    <div class="cloud section-b-space section-t-space">
        <img src="~/Image/flights/cloud.png" alt="" class="bg-img">
        <div class="container">
            <div class="title-2">
                <h2>top destination... <span>around the world</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="flight-box">
                        <div class="logo-section">
                            <img src="~/Image/flights/logo.png" class="img-fluid blur-up lazyload" alt="">
                        </div>
                        <div class="middle-section">
                            <div class="flight-5 no-arrow">
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>australia</h4>
                                                <h5>from $451</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>35 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>bahrain</h4>
                                                <h5>from $610</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>18 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>china</h4>
                                                <h5>from $621</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>21 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>egypt</h4>
                                                <h5>from $480</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>06 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>india</h4>
                                                <h5>from $320</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>31 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>australia</h4>
                                                <h5>from $451</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>35 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="name-section">
                            <div>
                                <h5>japan</h5>
                                <h6>flights</h6>
                                <a href="#" class="btn btn-rounded btn-sm color1">check all</a>
                            </div>
                        </div>
                    </div>
                    <div class="flight-box">
                        <div class="logo-section">
                            <img src="~/Image/flights/logo2.png" class="img-fluid blur-up lazyload" alt="">
                        </div>
                        <div class="middle-section">
                            <div class="flight-5 no-arrow">
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>brazil</h4>
                                                <h5>from $451</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>35 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>denmark</h4>
                                                <h5>from $610</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>18 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>greece</h4>
                                                <h5>from $621</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>21 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>iran</h4>
                                                <h5>from $480</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>06 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>japan</h4>
                                                <h5>from $320</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>31 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <div class="flight-info">
                                            <div>
                                                <h4>australia</h4>
                                                <h5>from $451</h5>
                                                <i class="fas fa-plane"></i>
                                                <h6>35 airlines</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="name-section">
                            <div>
                                <h5>emirates</h5>
                                <h6>flights</h6>
                                <a href="#" class="btn btn-rounded btn-sm color1">check all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top destination section end -->
<!-- blog section start -->
<section class="blog_section section-b-space ratio_55">
    <div class="container">
        <div class="title-2">
            <h2>our news... <span>and blog</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/blog/1.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/blog/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/blog/3.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/Image/flights/blog/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->
<!-- subscribe section start -->
<section class="subscribe-footer zig-zag-effect">
    <img src="~/Image/flights/footer-bg.jpg" class="bg-img img-fluid blur-up lazyload" alt="">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="service-left">
                    <ul>
                        <li>
                            <div class="service-box">
                                <div class="icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 476 476" style="enable-background:new 0 0 476 476;"
                                         xml:space="preserve">
                                    <g>
                                    <path d="M400.85,181v-18.3c0-43.8-15.5-84.5-43.6-114.7c-28.8-31-68.4-48-111.6-48h-15.1c-43.2,0-82.8,17-111.6,48
    c-28.1,30.2-43.6,70.9-43.6,114.7V181c-34.1,2.3-61.2,30.7-61.2,65.4V275c0,36.1,29.4,65.5,65.5,65.5h36.9c6.6,0,12-5.4,12-12
    V192.8c0-6.6-5.4-12-12-12h-17.2v-18.1c0-79.1,56.4-138.7,131.1-138.7h15.1c74.8,0,131.1,59.6,131.1,138.7v18.1h-17.2
    c-6.6,0-12,5.4-12,12v135.6c0,6.6,5.4,12,12,12h16.8c-4.9,62.6-48,77.1-68,80.4c-5.5-16.9-21.4-29.1-40.1-29.1h-30
    c-23.2,0-42.1,18.9-42.1,42.1s18.9,42.2,42.1,42.2h30.1c19.4,0,35.7-13.2,40.6-31c9.8-1.4,25.3-4.9,40.7-13.9
    c21.7-12.7,47.4-38.6,50.8-90.8c34.3-2.1,61.5-30.6,61.5-65.4v-28.6C461.95,211.7,434.95,183.2,400.85,181z M104.75,316.4h-24.9
    c-22.9,0-41.5-18.6-41.5-41.5v-28.6c0-22.9,18.6-41.5,41.5-41.5h24.9V316.4z M268.25,452h-30.1c-10,0-18.1-8.1-18.1-18.1
    s8.1-18.1,18.1-18.1h30.1c10,0,18.1,8.1,18.1,18.1S278.25,452,268.25,452z M437.95,274.9c0,22.9-18.6,41.5-41.5,41.5h-24.9V204.8
    h24.9c22.9,0,41.5,18.6,41.5,41.5V274.9z" />

                                    </g>
                                    </svg>
                                </div>
                                <div class="detail">
                                    <div>
                                        <h5>call us</h5>
                                        <p>+91 123-456-7890</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-box">
                                <div class="icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 486.025 486.025"
                                         style="enable-background:new 0 0 486.025 486.025;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M420.725,85.413c-42.1-42.1-98.1-65.3-157.6-65.3c-60.6,0-117.3,23.9-159.6,67.3c-4.6,4.7-4.5,12.3,0.2,17
        c4.7,4.6,12.3,4.5,17-0.2c37.8-38.7,88.3-60,142.4-60c109.7-0.1,198.9,89.1,198.9,198.8s-89.2,198.9-198.9,198.9
        s-198.9-89.2-198.9-198.9v-2.5l19.8,19.8c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5c4.7-4.7,4.7-12.3,0-17l-40.2-40.3
        c-4.7-4.7-12.3-4.7-17,0l-40.3,40.3c-4.7,4.7-4.7,12.3,0,17s12.3,4.7,17,0l19.8-19.8v2.5c0,59.5,23.2,115.5,65.3,157.6
        s98.1,65.3,157.6,65.3s115.5-23.2,157.6-65.3s65.2-98.1,65.2-157.6S462.825,127.513,420.725,85.413z" />































































































































                                    <path d="M326.925,161.913l-147.4,147.3c-4.7,4.7-4.7,12.3,0,17c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5l147.4-147.4
        c4.7-4.7,4.7-12.3,0-17C339.225,157.213,331.625,157.213,326.925,161.913z" />































































































































                                    <path d="M288.325,261.113c-16.7,16.7-16.7,44,0,60.7c8.1,8.1,18.9,12.6,30.4,12.6s22.3-4.5,30.4-12.6c16.7-16.7,16.7-44,0-60.7
        c-8.1-8.1-18.9-12.6-30.4-12.6C307.225,248.513,296.525,253.013,288.325,261.113z M332.125,304.913c-3.6,3.6-8.3,5.5-13.4,5.5
        s-9.8-2-13.4-5.5c-7.4-7.4-7.4-19.4,0-26.8c3.6-3.6,8.3-5.5,13.4-5.5s9.8,2,13.4,5.5
        C339.525,285.513,339.525,297.513,332.125,304.913z" />































































































































                                    <path d="M207.925,151.213c-11.5,0-22.3,4.5-30.4,12.6s-12.6,18.9-12.6,30.4s4.5,22.3,12.6,30.4s18.9,12.6,30.4,12.6
        s22.3-4.5,30.4-12.6c8.1-8.1,12.6-18.9,12.6-30.4s-4.5-22.3-12.6-30.4C230.125,155.713,219.425,151.213,207.925,151.213z
         M221.325,207.613c-3.6,3.6-8.3,5.5-13.4,5.5s-9.8-2-13.4-5.5c-3.6-3.6-5.5-8.3-5.5-13.4c0-5.1,2-9.8,5.5-13.4
        c3.6-3.6,8.3-5.5,13.4-5.5s9.8,2,13.4,5.5c3.6,3.6,5.5,8.3,5.5,13.4C226.825,199.213,224.925,204.013,221.325,207.613z" />































































































































                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="detail">
                                    <div>
                                        <h5>special discount</h5>
                                        <p>first booking in 25% off</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-box">
                                <div class="icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 483.3 483.3" style="enable-background:new 0 0 483.3 483.3;"
                                         xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M424.3,57.75H59.1c-32.6,0-59.1,26.5-59.1,59.1v249.6c0,32.6,26.5,59.1,59.1,59.1h365.1c32.6,0,59.1-26.5,59.1-59.1
        v-249.5C483.4,84.35,456.9,57.75,424.3,57.75z M456.4,366.45c0,17.7-14.4,32.1-32.1,32.1H59.1c-17.7,0-32.1-14.4-32.1-32.1v-249.5
        c0-17.7,14.4-32.1,32.1-32.1h365.1c17.7,0,32.1,14.4,32.1,32.1v249.5H456.4z" />































































































































                                    <path d="M304.8,238.55l118.2-106c5.5-5,6-13.5,1-19.1c-5-5.5-13.5-6-19.1-1l-163,146.3l-31.8-28.4c-0.1-0.1-0.2-0.2-0.2-0.3
        c-0.7-0.7-1.4-1.3-2.2-1.9L78.3,112.35c-5.6-5-14.1-4.5-19.1,1.1c-5,5.6-4.5,14.1,1.1,19.1l119.6,106.9L60.8,350.95
        c-5.4,5.1-5.7,13.6-0.6,19.1c2.7,2.8,6.3,4.3,9.9,4.3c3.3,0,6.6-1.2,9.2-3.6l120.9-113.1l32.8,29.3c2.6,2.3,5.8,3.4,9,3.4
        c3.2,0,6.5-1.2,9-3.5l33.7-30.2l120.2,114.2c2.6,2.5,6,3.7,9.3,3.7c3.6,0,7.1-1.4,9.8-4.2c5.1-5.4,4.9-14-0.5-19.1L304.8,238.55z" />































































































































                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="detail">
                                    <div>
                                        <h5>newsletter</h5>
                                        <p>scrambled it to make.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="service-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your email"
                               aria-label="Recipient's username">
                        <div class="input-group-append">
                            <button class="btn btn-subscribe" type="button" id="button-addon">subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe section end -->
