.btn-primary, .btn-danger {
    width: 80px;
    margin-bottom: 3px;
}

.btn-success {
    margin-bottom: 5px;
}

.navbar-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: black;
}

.navbar-left li {
    background-color: black;
    width: 100%;
}

    .navbar-left li a i {
        margin: 0px 16px 0px 3px;
        font-size: 17px;
    }

    .navbar-left li a {
        display: block;
        color: #ffffff;
        padding: 8px 16px;
        text-decoration: none;
    }

        .navbar-left li a.active {
            background-color: #5308d5;
            font-weight: bold;
            color: white;
            text-align: center;
        }

        .navbar-left li a:hover:not(.active) {
            background-color: #d32d3d;
            font-weight: bold;
            color: snow;
        }

.contrainer-home {
    margin-top: -22px;
    margin-left: 245px;
    margin-right: 2px;
}

.navbar-left {
    position: absolute;
    height: 750px;
    margin-top: 2px;
    margin-left: 2px;
    background-color: black;
}

.myclassed {
    width: 35px;
    height: 35px;
    border: 1px solid #d6d4d4;
    background-color: white;
    margin-left: 5px;
    padding-top: 3px;
    text-align: center;
    vertical-align: central;
}

    .myclassed:hover {
        background-color: #ffe75b;
        cursor: pointer;
    }

.pagination-section .pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fontbold {
    font-weight: 600;
}

.create-refesh .btn-warning {
    margin-left: 5px;
}

.create-refesh {
    display: flex;
}

.flight-detail-sec .detail-bar .detail-wrap {
    background-color: white;
    padding: 15px 0;
    border: 1px dashed transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .flight-detail-sec .detail-bar .detail-wrap .airport-part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

        .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-progress {
            width: 100%;
            padding: 0 25px;
            position: relative;
        }

        .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-name.arrival {
            margin-left: auto;
        }

    .flight-detail-sec .detail-bar .detail-wrap .logo-sec {
        text-align: center;
    }

    .flight-detail-sec .detail-bar .detail-wrap .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .flight-detail-sec .detail-bar .detail-wrap .logo-sec .title {
        display: block;
        text-transform: capitalize;
        font-weight: 600;
    }

    .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-progress i {
        color: #ef3f3e;
    }

    .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-progress:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 60%;
        background-color: #cecece;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-progress .stop {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 16px;
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
        width: 100%;
        color: gray;
    }

    .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-name.arrival {
        margin-left: auto;
    }

    .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-name h6 {
        margin-bottom: -5px;
        color: #909090;
        font-size: 12px;
    }
